.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;

  .header__logo {
    img {
      height: 50px;
    }
  }

  .header__userbar {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .header__name {
      margin-right: 10px;
      font-weight: bold;
      width: 120px;
      height: 20px;
    }

    .header__avatar img {
      height: 40px;
    }
  }
}

.booking-page {
  background: #eef1f4;
  padding: 20px;

  .booking-page__breadcrumbs {
    display: flex;
    padding: 0 22px;

    span {
      margin-right: 5px;
    }

    .home {
      color: #218bc3;
      font-weight: bold;
    }
  }

  .booking-page__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 22px; //add

    .booking-page__title {
      margin-bottom: 0.5rem;
      font-family: inherit;
      font-weight: 700;
      line-height: 1.1;
      color: inherit;
      font-size: 2.5rem;
      color: #555;
    }

    .booking-page__controls {
      padding-right: 22px;
      button {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 0.25rem;

        &.success {
          color: #c5c5c5;
          background-color: #28a745;
          border-color: #28a745;
          cursor: pointer;
          border-radius: 50px;
          color: white;
          &:hover{
            background: #1acb3e;
          }
        }

        &.import,
        &.export{
          border-radius: 50px;
          background: #e1e1e1;
          &:hover {
            background: #cecece;
          }
        }
      }
    }
  }

  .booking-page__results {
    background: white;

    .booking-filters {
      padding: 20px 21px 0;
      display: flex;

      .filter-input {
        width: 200px;
        margin-right: 10px;
        label {
          font-weight: 700;
          color: #555;
        }
        input {
          display: block;
          width: 100%;
          line-height: 1.5;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 0.25rem;
          padding: 6px 12px;
        }
      }
    }
    .booking-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      grid-gap: 15px;
      align-items: stretch;
      padding: 30px 0;
      border-radius: 20px;
      margin: 0 20px;

      .booking-card {
        background: white;
        max-width: 300px;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
        margin: 0 4px 8px 4px;
        position: relative;
        .booking-card__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          padding: 20px 20px 0;
          align-items: center;

          .booking-card__header-meta {
            display: flex;
            font-weight: bold;

            .booking-card__header-meta-calendar {
              color: #619ec9;
              padding-right: 10px;
            }

            .booking-card__header-meta-users {
              color: #999;
            }
          }

          .booking-card__header-status {
            text-transform: lowercase;
            border-radius: 50px;
            padding: 10px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            font-size: 12px;

            &.pending {
              background-color: #eeeeee;
              color: #232323;
            }

            &.cancelled {
              background-color: #fee2d5;
              color: #693d3a;
            }

            &.completed {
              background-color: #cfdfff;
              color: #1d2a2d;
            }

            &.accepted {
              color: #132b10;
              background-color: #d1f7c4;
            }
          }
        }

        .booking-card__body {
          padding: 10px 10px 10px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: relative;
          min-height: 220px;
          margin-bottom: 10px;

          .booking-card__body-date {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            background: #cbefff;
            width: 70px;
            height: 70px;
            line-height: 1;
            color: #777;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

            .booking-card__body-date-day {
              font-size: 32px;
              font-weight: bold;
            }

            .booking-card__body-date-month {
              font-size: 18px;
            }
          }

          .booking-card__body-details {
            line-height: 1.8;
            margin: 0px;
            color: #555;
            padding-left: 10px;

            .booking-card__body-details-date {
              font-size: 13px;
            }

            .booking-card__body-details-facility {
              font-size: 20px;
              font-weight: 500;
            }

            .booking-card__body-details-platform {
              font-size: 12px;
            }
          }
        }
        .booking-card__specialties {
          border-top: 1px solid rgb(239, 239, 239);
          //padding: 5px;
          font-size: 12px;
          //add
          position: relative;
          bottom: 50px;
          padding: 15px
        }
        .booking-card__footer {
          display: flex;
          justify-content: space-between;
          color: #777;
          background: #f5f5f5;
          padding: 20px;
          height: 60px;
          align-items: center;
          position: absolute;
          width: 100%;
          bottom: 0;

          i {
            margin-right: 5px;
          }

          .booking-card__footer-date {
            padding-right: 15px;
          }
          .booking-card__footer-author {
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 10px 0;
  background-color: white;
   .date {
     margin-right: 10px;
   }
}
